<h1>View your Article</h1>

<p>
  Title: <%= @article.title %>
</p>

<p>
    Description : <%= @article.description  %>
</p>






<p>
<%= link_to 'Go back Listings..', articles_path %> | 
<%= link_to 'Edit', edit_article_path %>
</p>
