<% if obj.errors.any? %>
    <h1>The followign errors prevented articles to be created</h1>
    
    <ul>
    <% obj.errors.full_messages.each do |msg| %>
       <li><%= msg  %></li> 
    <% end %>
    </ul>
<% end %>