<div class="container">
  <div class="footer">
    <p class="pull-left">&copy; My Recipe 2016 App - Hashmat Mh</p>
        
      <p class="pull-right"><%= link_to 'About Page', about_path %> |
        <%= link_to 'My Blog', articles_path %>
    </p>
  </div>
</div>

