<div class="container">
  <div class="footer">
    <p>&copy; My Recipe 2016 App - Hashmat Mh</p>
    
  <%= link_to 'About Page', about_path %> |
<%= link_to 'My Blog', articles_path %>

  </div>
</div>

